---
import IconCard from "./icons/IconCard.astro";

const icons = [
  { src: "/src/components/icons/icon-react.svg", alt: "React Logo" },
  { src: "/src/components/icons/icon-C++_Logo.svg", alt: "C++ Logo" },
  { src: "/src/components/icons/icon-git.svg", alt: "Git Logo" },
  { src: "/src/components/icons/icon-mysql.svg", alt: "MySQL Logo" },
  { src: "/src/components/icons/icon-html5.svg", alt: "HTML5 Logo" },
  { src: "/src/components/icons/icon-css3.svg", alt: "CSS3 Logo" },
  { src: "/src/components/icons/icon-js.svg", alt: "JavaScript Logo" },
];
---

<section class="py-12">
  <h2 class="text-4xl text-greenPrimary font-bold text-center mb-4">Stack</h2>
  <p class="text-center text-gray-300 mb-8">
    Due to my academic background, I have acquired knowledge and experience of
    several languages of which I highlight the following
  </p>
  <div class="flex flex-wrap justify-center gap-8">
    {icons.map((icon) => <IconCard icon={icon.src} altText={icon.alt} />)}
  </div>
</section>
