---
import { ui, defaultLang } from "../i18n/ui.js";

import Header from "../components/Header.astro";

const url = new URL(Astro.request.url);
const lang = url.searchParams.get("lang") || defaultLang;
const t = ui[lang];
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Trainee portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{t.title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    </style>
  </head>
  <body class="bg-gray-900">
    <Header id="Header" />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }

  html {
    color: #f7f7f7;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Open Sans Variable", sans-serif;
    display: flex;
    flex-direction: column;
  }
</style>
